"*":
  "atom-beautify":
    analytics: false
    general:
      _analyticsUserId: "e5be4c08-4684-4cdf-8ddc-62ce5d77eba2"
  "autocomplete-plus":
    suggestionListFollows: "Cursor"
  core:
    audioBeep: false
    disabledPackages: [
      "license-plus"
      "metrics"
      "linter-tidy"
    ]
    projectHome: "~/workspace/"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "0ec41067-3a52-7fbf-2e1d-e19b5f49256f"
  fonts:
    fontFamily: "FiraCode"
  linter:
    errorPanelHeight: 295
  "linter-tidy": {}
  "spell-check": {}
  "tidy-markdown":
    runOnSave: false
  "vim-mode":
    startInInsertMode: true
  welcome:
    showOnStartup: false
  whitespace: {}
  "xml-formatter": {}
