"*":
  "autocomplete-plus":
    suggestionListFollows: "Cursor"
  core:
    audioBeep: false
    disabledPackages: [
      "license-plus"
      "metrics"
    ]
    projectHome: "~/workspace/"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "0ec41067-3a52-7fbf-2e1d-e19b5f49256f"
  fonts:
    fontFamily: "FiraCode"
  "spell-check": {}
  "tidy-markdown":
    runOnSave: false
  "vim-mode":
    startInInsertMode: true
  welcome:
    showOnStartup: false
  whitespace: {}
